body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #333;
    background: #f7f9fc;
}

.layout {
    display: flex;
    min-height: 100vh;
}

nav {
    width: 220px;
    background-color: #2c3e50;
    padding: 1rem;
}

nav a {
    text-decoration: none;  
    color: inherit;         
}

nav a:visited {
    color: inherit;         
}

nav h2 {
    margin-bottom: 30px;
    font-size: 1.3rem;
    color: #ecf0f1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    display: flex;               
    align-items: center;
    gap: 0.5rem;                  
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}


nav ul li a:hover {
    background: #47637f;
    transform: translateX(5px);
}

nav ul li a:visited {
    color: #fff;   
}

nav h2 img{
    width: 30px;  
    height: 30px; 
    vertical-align: middle;
    margin-right: 0.5rem;
}

nav ul li img{
    width: 20px;  
    height: 20px; 
    vertical-align: middle;
    margin-right: 0.5rem;
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.contenido button{
    padding: 0.7rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #2c3e50;
    padding: 0.2rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header div {
    font-weight: 500;
    color: #555;
}

header h1 {
    font-size: 1.3rem;
}

header button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

header button:hover {
    background: #357ab8;
}

.section {
    display: flex;
    gap: 2rem;
}

.main1 {
    flex: 2;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0px 12px rgba(0,0,0,0.1);
}

.cent{
    text-align: center;
}

.calendario-semanal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
    margin-top: 1rem;
}

.calendario-semanal div {
    background: #ece7e7;
    border: 1px solid #ccc;
    padding: 0.8rem;
    text-align: center;
    border-radius: 12px;
}

.proximos-eventos {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}

.proximos-eventos ul {
    list-style: none;
    padding: 0;
}

.proximos-eventos li {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.proximos-eventos li:hover {
    background: #f5f5f5;
}

footer {
    background-color: rgb(107, 209, 106);
    color: #333;
    padding: 1rem;
}
.calendario-tabla table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.calendario-tabla th, .calendario-tabla td {
    border: 1px solid #ccc;
    padding: 0.8rem;
    text-align: center;
}

.calendario-tabla th {
    background: #2c3e50;
    color: #fff;
}

.calendario-tabla td {
    background: #f4f4f4;
}

.form-actividad {
  margin: 2rem auto;      
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 600px;
  
}

.form-actividad h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input, textarea, select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.button {
  background: #4a90e2;
  color: #fff;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #357ab8;
}

.tabla-usuarios {
  margin-top: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tabla-usuarios h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

.tabla-usuarios table {
  width: 100%;
  border-collapse: collapse;
}

.tabla-usuarios th, 
.tabla-usuarios td {
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tabla-usuarios th {
  background: #2c3e50;
  color: #fff;
}

.tabla-usuarios tr:hover {
  background: #f5f5f5;
}

.btn {
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 0.2rem;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn.ver {
  background: #3498db;
  color: white;
}
.btn.ver:hover {
  background: #2980b9;
}

.btn.editar {
  background: #2ecc71;
  color: white;
}
.btn.editar:hover {
  background: #27ae60;
}

.btn.eliminar {
  background: #e74c3c;
  color: white;
}
.btn.eliminar:hover {
  background: #c0392b;
}